html,body{
	padding:0;
	margin:0;
}
ul{
	list-style-type: none;
	padding:0;
}
.flex{
	box-sizing:border-box;
	display:flex;
	padding:0;
	margin:0;
}
.flex .wrap{
	flex-wrap:wrap;
	/* justify-content: space-evenly; */
}
.flex >div{
	box-sizing:border-box;
	background-color: rgba(0,0,0,0.2);
	flex: 1 0 auto;
	margin:4px;
	padding:4px;
	border-radius: 8px;
}
.flex .side{
	flex: 0 1 auto;
}
