:root{
	--hTable: 400px;
	--darkerXS:  rgba(0,0,0,0.2);
	--darkerS:  rgba(0,0,0,0.3);
	--darkerM:  rgba(0,0,0,0.5);
	--darkerL:  rgba(0,0,0,0.7);
	--darkerXL:  rgba(0,0,0,0.8);
	--lighterXS:  rgba(255,255,255,0.2);
	--lighterS:  rgba(255,255,255,0.3);
	--lighterM:  rgba(255,255,255,0.5);
	--lighterL:  rgba(255,255,255,0.7);
	--lighterXL:  rgba(255,255,255,0.8);
}


html,body{
	font: 400 13.3333px Arial;
	padding:0;
	margin:0;
}
#rsg{
	min-height: 320px;
}
.flex{
	box-sizing:border-box;
	display:flex;
	padding:0;
	margin:0;
}
.flex.wrap{
	flex-wrap: wrap;
}
.flex>div{
	box-sizing:border-box;
	background-color: var(--darkerXS);
	flex: 1 0 auto; /* grow shrink basis */
	margin:4px;
	padding:4px;
	border-radius: 8px;
}
.flex>.side{
	flex: 0 1 auto; /* grow shrink basis */
	/* display:flex;
	flex-direction: column; */
}
.actionPane {
	/* background-color: blue; */
	/* //overflow-x: visible; */
	max-height: var(--hTable);
	min-width: 200px;
	flex: auto;
	text-align: left;
	display: flex;
	flex-flow: column wrap;
}
main > section:last-child {
  display: flex;
  flex: auto;
  flex-direction: column;  
}
main > section:last-child > textarea {
  flex: auto;  
}
#table{
	flex:0 0 auto; /* grow shrink basis */
	text-align: center;
}
#tableTop{
	height: var(--hTable);
}
.break {
	width: 800px;
	height: 10px;
	background-color: yellow;
}
.area {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 0;
	overflow: auto;
}
.area > p {
	min-width: 180px;
	margin: 3px 10px;
}
.centered {
  position: relative;
  top: 50%;
  left: 50%;
	/* transform: translate(-50%, -50%); */
	/* text-align: center; */
}
.centerCentered{
	margin: 0;
	/* background: yellow; */
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) 
}
.centerCenteredTopHalf{
	margin: 0;
	/* background: yellow; */
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -100%) 
}
.centerCenteredBottomHalf{
	margin: 0;
	/* background: yellow; */
	position: absolute;
	top: 46%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%) 
}

.textEllipsis4Lines{
   overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
}







